## Assignment INteractive Data (Pandas Challenge)

In [2]:
# Importing pandas
import pandas as pd

# Creating a DataFrame with three columns and three rows
data = {'Sequencing': [1.0, 2.0, 3.0],
        'Version naming': ['vista', 'altron', 'Catexion'],
        'comparison': [5, 3.5, 4.8]}

df = pd.DataFrame(data)

# Displaying the DataFrame
df

   Sequencing Version naming  comparison
0         1.0          vista         5.0
1         2.0         altron         3.5
2         3.0       Catexion         4.8

In [3]:
# View Data

df.head()

   Sequencing Version naming  comparison
0         1.0          vista         5.0
1         2.0         altron         3.5
2         3.0       Catexion         4.8

In [4]:
# Data frame indedx

df.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
# selecting and viewing 1st row 
row_df = df.iloc[[0]]
row_df

   Sequencing Version naming  comparison
0         1.0          vista         5.0

In [7]:
# Selecting and viewing 1st column 

One_column = df['Sequencing']
One_column

0    1.0
1    2.0
2    3.0
Name: Sequencing, dtype: float64

In [8]:
# New CSV
df.to_csv("C:\\Users\\Bhara\\Bharath Reddy\\Reddy.csv")

## Uses of dynamic and interactive data vizualization 

By enabling users to investigate, evaluate, and customise their interactions with complicated material, dynamic, interactive data visualisations improve communication. Interactive visualisations, as opposed to their static counterparts, allow users to explore data, changing viewpoints, enlarging on specifics, and obtaining insights whenever needed. This flexibility accommodates a range of user viewpoints, leading to a deeper comprehension. Furthermore, interactivity guides consumers through a tale by transforming data into an engaging narrative. These visualisations transcend geographical boundaries with their real-time updates and device adaptability, making them an effective and captivating tool for data sharing on the web.